<div class="container">
  <div class="page-header">
    <h2>HC Course List | <small>June Intake 2016</small></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Faculty</th>
        <th>Level</th>
        <th>Semesters</th>
        <th>Mode</th>
        <th>Seats</th>
        <th>Total Fee</th>
      </tr>
      </thead>
      <tbody>
      <% @faculties.each do |faculty| %>
        <% faculty.courses.each do |course| %>
         <% if course.visible == true %>
          <tr>
            <th scope="row">1</th>
            <td><a href="#<%= faculty.short %>"><%= course.name %></a></td>
            <td><%= course.faculty.short %></td>
            <td><%= course.level %></td>
            <td><%= course.semester %></td>
            <td><%=course.mode %></td>
            <td><%=course.seats %></td>
            <td><%= number_to_currency(course.fee, unit: "MVR ") %></td>
          </tr>
         <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% @faculties.each do |faculty| %>
    <a name="<%= faculty.short %>"></a>
    <div class="container">

      <div class="page-header">
        <div class="row">
          <div class="col-xs-7 col-md-6">
            <h2><%= faculty.name %> | <small><%= faculty.short %></small></h2>
          </div>
          <div class="col-xs-5 col-md-6 text-right" style="padding-top: 30px;">

          </div>
        </div>
      </div>
      <div class="container" style="margin-bottom: 20px">
        <%= sanitize faculty.description, tag: %w(p)  %>
      </div>
      <% result = faculty.courses.count > 3 ? 4 : 6 %>
      <div class="row">
      <% faculty.courses.each do |course| %>
          <% if course.visible == true %>

                <div class="col-md-<%= result %>">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"> <%= course.name %></h3>
                    </div>
                    <div class="panel-body">
                      <p class="text-justify">
                        <strong>Why do this?</strong><br>
                      </p>
                      <ul>
                        <% course.pros.each do |pro| %>
                            <li><%= pro.description %></li>
                        <% end %>
                        </ul>
                      <p></p>
                      <hr>
                      <a class="btn btn-primary" data-toggle="collapse" href="#<%= course.code %>" aria-expanded="false" aria-controls="<%= course.code %>">
                        Criteria <span class="caret" aria-hidden="true"></span>
                      </a>


                      <div class="collapse" id="<%= course.code %>" aria-expanded="false">
                        <ul style="margin-top:10px; margin-bottom:0;" class="list-group">
                          <% repeat = course.criterions.length %>
                          <% course.criterions.each_with_index  do |criterion, index| %>
                          <li class="list-group-item"><%= criterion.description %> <strong><%= index+1 == repeat  ? '' : 'OR' %></strong></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

          <% end %>
      <% end %>
      </div>
    </div>
<% end %>