<div class="container">
  <div class="page-header">
    <h2>HC Course List | <small>June Intake 2016</small></h2>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Course Name</th>
        <th>Faculty</th>
        <th>Level</th>
        <th>Semesters</th>
        <th>Mode</th>
        <th>Seats</th>
        <th>Total Fee</th>
      </tr>
      </thead>
      <tbody>
      <% num = 0 %>
      <% @faculties.each do |faculty| %>
        <% faculty.courses.each  do |course| %>
         <% if course.visible == true %>
          <tr>
            <th scope="row"><%= num = num + 1 %></th>
            <td><a href="#<%= faculty.short %>"><%= course.name %></a></td>
            <td><%= course.faculty.short %></td>
            <td><%= course.level %></td>
            <td><%= course.semester %></td>
            <td><%=course.mode %></td>
            <td><%=course.seats %></td>
            <td><%= number_to_currency(course.fee, unit: "MVR ") %></td>
          </tr>
         <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<% @faculties.each do |faculty| %>
    <a name="<%= faculty.short %>"></a>
    <div class="container">

      <div class="page-header">
        <div class="row">
          <div class="col-md-6">
            <h2><%= faculty.name %> | <small><%= faculty.short %></small></h2>
          </div>
        </div>
      </div>
      <div class="container" style="margin-bottom: 20px">
        <%= sanitize faculty.description, tag: %w(p)  %>
      </div>
      <% result = faculty.courses.count <= 4 ? 4 : 6 %>
      <% count = faculty.courses.size %>
      <% faculty.courses.each_with_index  do |course, index| %>
          <% st = '<div class="row">' %>
          <% st2 = '</div>' %>
          <% row_name = result == 6 ? cycle(st,'',name: 'div1') : cycle(st,'','', name: 'div1') %>
          <% row_name2 = result == 6 ? cycle('',st2,name: 'div2') : cycle('','',st2,name: 'div2') %>

          <%= current_cycle(name= 'div1').html_safe %>

          <% if course.visible == true %>

                <div class="col-md-<%= result %>">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title"> <%= course.name %></h3>
                    </div>
                    <div class="panel-body">
                      <p class="text-justify">
                        <strong>Why do this?</strong><br>
                      </p>
                      <ul>
                        <% course.pros.each do |pro| %>
                            <li><%= pro.description %></li>
                        <% end %>
                        </ul>
                      <p></p>
                      <hr>
                      <a class="btn btn-primary" data-toggle="collapse" href="#<%= course.code %>" aria-expanded="false" aria-controls="<%= course.code %>">
                        Criteria <span class="caret" aria-hidden="true"></span>
                      </a>


                      <div class="collapse" id="<%= course.code %>" aria-expanded="false">
                        <ul style="margin-top:10px; margin-bottom:0;" class="list-group">
                          <% repeat = course.criterions.length %>
                          <% course.criterions.each_with_index  do |criterion, index| %>
                          <li class="list-group-item"><%= criterion.description %> <strong><%= index+1 == repeat  ? '' : 'OR' %></strong></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% if index == faculty.courses.size - 1 %>
                  <%= st2.html_safe %>
              <% else %>
                <%= current_cycle(name= 'div2').html_safe %>
              <% end %>
          <% end %>
      <% end %>

    </div>
<% end %>