<%= form_for @course, :html => { class:"form-horizontal"} do |f| %>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Course Details</h3>
          </div>
          <div class="panel-body">
            <div class="form-group <%= "has-error" if @course.errors[:name].any? %> ">
              <%= f.label 'Name', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.text_field :name, placeholder:"Name",maxlength:50, class:"form-control" %>
                <% if @course.errors[:name].any? %>
                      <span class="help-block">
                      <% @course.errors.full_messages_for(:name).each do |msg| %>
                        <%= msg %><br>
                      <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:code].any? %> ">
              <%= f.label 'Code', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.text_field :code, placeholder:"Code",maxlength:10, class:"form-control" %>
                <% if @course.errors[:code].any? %>
                      <span class="help-block">
                      <% @course.errors.full_messages_for(:code).each do |msg| %>
                        <%= msg %><br>
                      <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:faculty_id].any? %> ">
              <%= f.label 'Faculty', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.select :faculty_id, Faculty.all.collect {|u| [u.short, u.id]}, {prompt:"Select a Faculty"}, class:"form-control"%>
                <% if @course.errors[:faculty].any? %>
                      <span class="help-block">
                      <% @course.errors.full_messages_for(:faculty_id).each do |msg| %>
                        <%= msg %><br>
                      <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:level].any? %> ">
              <%= f.label 'Level', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.select :level, ['Foundation','Certificate', 'Advanced', 'Diploma', 'Advance Diploma','Bachelor','Honours','Master'], {prompt:"Select a Level"}, class:"form-control"%>
                <% if @course.errors[:level].any? %>
                      <span class="help-block">
                          <% @course.errors.full_messages_for(:level).each do |msg| %>
                                <%= msg %><br>
                          <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:semester].any? %> ">
              <%= f.label 'Semester', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.select :semester, [1,2,3,4,5,6,7,8], {prompt:"Select a Semester"}, class:"form-control"%>
                <% if @course.errors[:semester].any? %>
                      <span class="help-block">
                          <% @course.errors.full_messages_for(:semester).each do |msg| %>
                                <%= msg %><br>
                          <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:mode].any? %> ">
              <%= f.label 'Mode', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.select :mode, ['Full Time', 'Block Mode','Distance'], {prompt:"Select a Mode"}, class:"form-control"%>
                <% if @course.errors[:mode].any? %>
                      <span class="help-block">
                          <% @course.errors.full_messages_for(:mode).each do |msg| %>
                                <%= msg %><br>
                          <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:seats].any? %> ">
              <%= f.label 'Seats', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.number_field :seats, step: 1, class:"form-control" %>
                <% if @course.errors[:seats].any? %>
                      <span class="help-block">
                      <% @course.errors.full_messages_for(:seats).each do |msg| %>
                        <%= msg %><br>
                      <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:fee].any? %> ">
              <%= f.label 'Fee', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.number_field :fee, step: 1, class:"form-control" %>
                <% if @course.errors[:fee].any? %>
                      <span class="help-block">
                      <% @course.errors.full_messages_for(:fee).each do |msg| %>
                        <%= msg %><br>
                      <% end %>
                      </span>
                <% end %>
              </div>
            </div>

            <div class="form-group <%= "has-error" if @course.errors[:visible].any? %> ">
              <%= f.label 'Visible', class:"col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= f.select :visible, [['Visible', true], ['Invisible', false]], {prompt:"Select a Option"}, class:"form-control"%>
                <% if @course.errors[:visible].any? %>
                      <span class="help-block">
                          <% @course.errors.full_messages_for(:visible).each do |msg| %>
                                <%= msg %><br>
                          <% end %>
                      </span>
                <% end %>
              </div>
            </div>

          </div>
              <div class="panel-footer">
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                      <%= f.submit class:"btn btn-success" %>
                     </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pros Details</h3>
        </div>
        <div class="panel-body">
          <%= f.fields_for :pros do |pros| %>
              <%= render "pro_fields", :f=> pros %>
          <% end %>


              <div class="links">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= link_to_add_association 'Add Pro', f, :pros, :class => "btn btn-success" %>
                </div>
              </div>


        </div>
          </div>
        </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Criteria Details</h3>
        </div>
        <div class="panel-body">
          <%= f.fields_for :criterions do |criterions| %>
              <%= render "criterion_fields", :f=> criterions %>
          <% end %>


          <div class="links">
            <div class="col-sm-offset-2 col-sm-10">
              <%= link_to_add_association 'Add Criterion', f, :criterions, :class => "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>

