<!DOCTYPE html>
<html>
<head>
  <title>HC Course Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <meta property="og:url"           content="https://whispering-plains-9044.herokuapp.com/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="HC Course Page" />
  <meta property="og:description"   content="Details of the courses avaible for June Intake 2016" />
  <meta property="og:image"         content="<%= asset_path('mnu_logo.png') %>" />

</head>
<body style="padding-top: 45px;">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=133594840025318";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HC | Courses</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% Faculty.active.order(:short).each do |faculty| %>
            <li><a href="#<%= faculty.short %>"><%= faculty.short %></a></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Download <span class="caret"></span></a>


              <ul class="dropdown-menu" role="menu">
                <li><a target="_blank" href="<%= Setting.find(1).lbook %>">Course Book</a></li>
                <li><a target="_blank" href="<%= Setting.find(1).lform %>">Application Form</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div style="padding:35px 15px;" class="jumbotron">
      <div class="row">
        <div class="container">
          <% if Setting.find(1).alert != '' %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <strong><%= Setting.find(1).alert %></strong>
            </div>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="container">
            <h1 class="text-center"><%= Setting.find(1).jheader %> </h1>
            <p style="padding-left: 20px; padding-right: 20px;" class="text-center"><%= sanitize Setting.find(1).jtext, tag: %w(p) %></p>
            <p class="text-center"><a class="btn btn-primary btn-lg" target="_blank" href="<%= Setting.find(1).lform %>" role="button">Apply Now »</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <iframe style="width:100%; height:270px; border:none;" src="<%= asset_path('time.html') %>"></iframe>
        </div>
      </div>
    </div>

    <div class="container">
          <div class="page-header">
            <h2>Who we are</h2>
          </div>

            <%= sanitize Setting.find(1).intro, tag: %w(p) %>

      </div>

<%= yield %>

    <div style="margin-top:20px; padding-top:10px;" class="container-fluid bg-primary">
      <div class="container">
        <footer>
          <div class="row">
            <div class="col-md-4">
              <h4>Contact Us</h4>
              <hr>
              <div class="row">
                <div class="col-xs-3 col-md-4">
                  <img style="width:100%" src="<%= asset_path('mnu_logo.png') %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-8">
                  <address>
                    <strong>MNU, Hithadhoo Campus</strong><br>
                    Sharafuddin Magu<br>
                    Hithadhoo, Addu City<br>
                    <abbr title="Phone">P:</abbr> (960) 688-5053<br>
                    <abbr title="Email">E:</abbr><a class="text-info" href="mailto:hc@mnu.edu.mv"> hc@mnu.edu.mv</a><br>
                    <abbr title="Website">W:</abbr><a class="text-info" href="http://mnu.edu.mv/"> mnu.edu.mv</a><br>
                  </address>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h4>Important Links</h4>
              <hr>
              <ul>
                <li><a target="_blank" class="text-info" href="http://mnu.edu.mv/index.php/future-students/announcements">MNU Announcements</a></li>
                <li><a target="_blank" class="text-info" href="http://mnu.edu.mv/index.php/news">MNU News</a></li>
                <li><a target="_blank" class="text-info" href="http://mnu.edu.mv/index.php/events">MNU Events</a></li>
                <li><a target="_blank" class="text-info" href="http://selfservice.mnu.edu.mv/">Selfservice</a></li>
                <li><a target="_blank" class="text-info" href="http://mail.google.com/a/student.mnu.edu.mv">Student Mail</a></li>
                <li><a target="_blank" class="text-info" href="http://gem.mnu.edu.mv/login/index.php">GEM</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4>Social Links</h4>
              <hr>
              <div class="container" style="width: 100%">
              <div class="fb-page" data-href="https://www.facebook.com/hithadhoocampus"   data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/hithadhoocampus"><a href="https://www.facebook.com/hithadhoocampus">Hithadhoo Campus, The Maldives National University</a></blockquote></div></div>
              </div>
              <div class="container" style="margin-top: 12px; width: 100% ">
                <a href="https://twitter.com/mnuhc" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @mnuhc</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </div>
              <div class="container" style="margin-top: 12px; width: 100%">
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/115640344262820401976" data-rel="publisher"></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="text-justify"><small>© MNU | Hithadhoo Campus 2016</small></p>
            </div>


            <div class="col-xs-4 col-md-1 text-left pull-right">
              <div class="g-plusone" data-size="medium" data-href="https://whispering-plains-9044.herokuapp.com/"></div>
            </div>
            <div class="col-xs-4 col-md-1 text-right pull-right">
              <a  href="https://twitter.com/share" class="twitter-share-button" data-via="mnuhc" data-hashtags="MNU">Tweet</a>
            </div>
            <div class="col-xs-4 col-md-1 text-left pull-right">
              <div class="fb-share-button"
                   data-href="https://whispering-plains-9044.herokuapp.com/"
                   data-layout="button_count">
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

</body>
</html>
